# Association Rules

- "Association Rule" is a concept of unsupervised learning
- "Association Rule" have two approahes/algorithms:
 - Apriori method
 - Aclat method

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
# in this dataset we don't have any header

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [4]:
# We don't have any specific column for one item
# It differs in all transactions
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
type(dataset)

pandas.core.frame.DataFrame

In [6]:
from apyori import apriori
# Library=apyori, Module=apyori, Function=apriori

In [7]:
# apriori does not support dataframe
# It supports numpy array
# Here, we have to create a 2-D list (list of records/lists)
# 'iloc' and 'loc' functions are used to retrieve data in dataframe
dataset.loc[0]

0                shrimp
1               almonds
2               avocado
3        vegetables mix
4          green grapes
5      whole weat flour
6                  yams
7        cottage cheese
8          energy drink
9          tomato juice
10       low fat yogurt
11            green tea
12                honey
13                salad
14        mineral water
15               salmon
16    antioxydant juice
17      frozen smoothie
18              spinach
19            olive oil
Name: 0, dtype: object

In [8]:
dataset.iloc[0:1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil

In [9]:
transactions=[]
for i in range(0, len(dataset)):
    transactions.append( [ str(dataset.values[i,j]) for j in range(0,len(dataset.loc[i])) ] )

In [10]:
# to create Association Rules
rules = apriori(transactions=transactions)

In [11]:
list(rules)
# Here, we get some "lift<=1", which has no significance

[RelationRecord(items=frozenset({'chocolate'}), support=0.1638448206905746, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chocolate'}), confidence=0.1638448206905746, lift=1.0)]),
 RelationRecord(items=frozenset({'eggs'}), support=0.17970937208372217, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'eggs'}), confidence=0.17970937208372217, lift=1.0)]),
 RelationRecord(items=frozenset({'french fries'}), support=0.1709105452606319, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'french fries'}), confidence=0.1709105452606319, lift=1.0)]),
 RelationRecord(items=frozenset({'green tea'}), support=0.13211571790427942, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'green tea'}), confidence=0.13211571790427942, lift=1.0)]),
 RelationRecord(items=frozenset({'milk'}), support=0.12958272230369283, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'milk'}), confidence=0.12958272230369283, lift=1.0)]),
 RelationRecord(items=frozenset({'mineral water'}), support=0.23836821757099053, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water'}), confidence=0.23836821757099053, lift=1.0)]),
 RelationRecord(items=frozenset({'nan'}), support=0.9998666844420744, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.9998666844420744, lift=1.0)]),
 RelationRecord(items=frozenset({'spaghetti'}), support=0.17411011865084655, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'spaghetti'}), confidence=0.17411011865084655, lift=1.0)]),
 RelationRecord(items=frozenset({'chocolate', 'nan'}), support=0.1638448206905746, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'chocolate', 'nan'}), confidence=0.1638448206905746, lift=1.0), OrderedStatistic(items_base=frozenset({'chocolate'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0001333333333333), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'chocolate'}), confidence=0.1638666666666667, lift=1.0001333333333333)]),
 RelationRecord(items=frozenset({'nan', 'eggs'}), support=0.17970937208372217, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'eggs'}), confidence=0.17970937208372217, lift=1.0), OrderedStatistic(items_base=frozenset({'eggs'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0001333333333333), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'eggs'}), confidence=0.17973333333333333, lift=1.0001333333333333)]),
 RelationRecord(items=frozenset({'nan', 'french fries'}), support=0.1709105452606319, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'french fries'}), confidence=0.1709105452606319, lift=1.0), OrderedStatistic(items_base=frozenset({'french fries'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0001333333333333), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'french fries'}), confidence=0.17093333333333333, lift=1.0001333333333333)]),
 RelationRecord(items=frozenset({'nan', 'green tea'}), support=0.13198240234635383, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'green tea'}), confidence=0.13198240234635383, lift=1.0), OrderedStatistic(items_base=frozenset({'green tea'}), items_add=frozenset({'nan'}), confidence=0.9989909182643796, lift=0.9991241170534815), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'green tea'}), confidence=0.132, lift=0.9991241170534815)]),
 RelationRecord(items=frozenset({'nan', 'milk'}), support=0.12958272230369283, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'milk'}), confidence=0.12958272230369283, lift=1.0), OrderedStatistic(items_base=frozenset({'milk'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0001333333333333), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'milk'}), confidence=0.1296, lift=1.0001333333333333)]),
 RelationRecord(items=frozenset({'mineral water', 'nan'}), support=0.23823490201306494, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water', 'nan'}), confidence=0.23823490201306494, lift=1.0), OrderedStatistic(items_base=frozenset({'mineral water'}), items_add=frozenset({'nan'}), confidence=0.999440715883669, lift=0.9995739746457868), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'mineral water'}), confidence=0.23826666666666668, lift=0.9995739746457868)]),
 RelationRecord(items=frozenset({'nan', 'spaghetti'}), support=0.17411011865084655, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan', 'spaghetti'}), confidence=0.17411011865084655, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'spaghetti'}), confidence=0.17413333333333333, lift=1.0001333333333333), OrderedStatistic(items_base=frozenset({'spaghetti'}), items_add=frozenset({'nan'}), confidence=1.0, lift=1.0001333333333333)])]

In [12]:
rules = apriori(transactions=transactions,
                min_length=2, max_length=2,
                min_support=0.003, min_lift=3,
                min_confidence=0.2)

In [13]:
result = list(rules)

In [14]:
result

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'escalope', 'pasta'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'olive oil', 'light cream'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]),
 RelationRecord(items=frozenset({'olive oil', 'whole wheat pasta'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

In [15]:
# "Eclat" model works similarly but only have gives us "support"
# To apply "Eclat", remove confidence and lift from above code

In [16]:
# Clean the data
def inspect(results):
    lhs = [ tuple(result[2][0][0])[0] for result in results ]
    rhs = [ tuple(result[2][0][1])[0] for result in results ]
    supports = [ result[1] for result in results ]
    confidence = [ result[2][0][2] for result in results ]
    lifts = [ result[2][0][3] for result in results ]
    return list( zip( lhs, rhs, supports, confidence, lifts ) )

In [17]:
rindf = pd.DataFrame( inspect(result), columns = [ 'Left hand side', 'Right hand side', 'Support', 'Confidence', 'Lift'])
# "inspect()" is used to pass the data(columns) to the function

In [18]:
rindf

         Left hand side Right hand side   Support  Confidence      Lift
0           light cream         chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                 pasta        escalope  0.005866    0.372881  4.700812
3         fromage blanc           honey  0.003333    0.245098  5.164271
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
6           light cream       olive oil  0.003200    0.205128  3.114710
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
8                 pasta          shrimp  0.005066    0.322034  4.506672

In [21]:
rindf.nlargest(n=10, columns='Lift')

         Left hand side Right hand side   Support  Confidence      Lift
3         fromage blanc           honey  0.003333    0.245098  5.164271
0           light cream         chicken  0.004533    0.290598  4.843951
2                 pasta        escalope  0.005866    0.372881  4.700812
8                 pasta          shrimp  0.005066    0.322034  4.506672
7     whole wheat pasta       olive oil  0.007999    0.271493  4.122410
5          tomato sauce     ground beef  0.005333    0.377358  3.840659
1  mushroom cream sauce        escalope  0.005733    0.300699  3.790833
4         herb & pepper     ground beef  0.015998    0.323450  3.291994
6           light cream       olive oil  0.003200    0.205128  3.114710